.image{
    
    width: 1510px;
    object-fit: cover;
    background-size: cover;
    height: 703px;
  }
  .box3{
    
    color: rgba(255, 250, 240, 0.986);
    font-weight: bold;
    text-align: center;
    align-items: center;
   
    position: absolute;
    top: 50%;
    margin-left: 375px;
    
    transform: translate(-50%, -50%);
   width: 45%;
    padding: 30px;
    background-color: rgba(2, 16, 43, 0.699);
    
    height: 645px;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(240, 231, 230);

}

.box2{
    color: black;
      font-weight: bold;
      text-align: center;
      align-items: center;
     
      position: absolute;
      top: 50%;
      left: 75%;
      
      transform: translate(-50%, -50%);
      width: 35%;
      padding: 30px;
      background-color: rgba(239, 241, 245, 0.966);
      border: 10px outset black;
      height: 510px;
      border-radius: 30px;
      
     
}
p{
    font-size: 30px;
}
.USER1{
    width: 500px;
    height: 30px;
    border: 3px solid black;
    background-color:rgb(190, 255, 190);
}
.name{
    float: left;
    margin-left: 24px;
    font: bolder;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
textarea{
    width:500px;
    height: 200px;
    border: 3px solid black;
    background-color: rgb(190, 255, 190);
}
button{
    width: 510px;
    height: 40px;
    background: rgb(250, 60, 26);
    border: 3px solid black;
   border-radius: 10px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
button:hover{
    width: 512px;
    height: 42px;
    background: green
    

}