.image{

  height: 100%;
  width: 100%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .clipart{
    padding-top: 10%;
    padding-left: 5%;
    height: 30%;
    width: 30%;
    }

  body{
    background-color: gold;
  }
  
  .login {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: floralwhite;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 30%;
    right: -5%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center;
  }
  
  .paper{
    margin-top: 1%;
    margin-left: -70%;
    margin-right: 20%;
  height:10%;
  width: 180%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .diarytoday{
    background-color: transparent;
   
    resize: none;
  }
  
  textarea{
    border: transparent;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  
  textarea:hover{
    background-color: transparent;
    border: transparent;
    text-decoration: none
  }
  
  
  a{
    color: darkblue;
    text-decoration:none;
  }
  
  a:hover{
    text-decoration:underline;
  }
  
  .form{
    width: 300px;
    margin: 0 auto;
  }
  input[type='email'],
  input[type='password'],input[type='text'] {
    width: 200px;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
  }
  
  input[type='submit']{
    padding: 10px 25px 8px;
    color: #fff;
    background-color:   #e7d03a;
    text-shadow: rgba(231,208,58,0.24) 0 1px 0;
    font-size: 16px;
    box-shadow: rgba(231,208,58,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
    border: 1px solid  #e7d03a; 
    border-radius: 2px;
    margin-top: 10px;
    cursor:pointer;
  }
  input[type='submit']:hover {
    background-color: f0df74;
  }
  
  .verify-message {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  button[type="submit"] {
    padding: 0;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    color: blue;
  }
  
  
  
  .ul {
    list-style-type: none;
    padding: 0;
  }
  
  .icon-bar {
    width: 90px; 
    background-color: #555; 
    right: 2%;
    top: 10%;
    position: absolute;
  }
  
  .icon-bar a {
    display: block; 
    text-align: center; 
    padding: 16px;
    transition: all 0.3s ease; 
    color: white; 
    font-size: 36px; 
  }
  
  .icon-bar a:hover {
    background-color: purple; 
  }
  
  .active {
    background-color: orangered;
  }  